{
  "plugins": [
    "transform-object-rest-spread",
    "transform-async-generator-functions",
    ["transform-runtime", {
      "regenerator": true,
      "polyfill": false
    }]
  ],
  "presets": ["env"]
}
